/* -------------------------------- IMPORT FONTS -------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Architects Daughter:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Tenali+Ramakrishna:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800");

/*------------------------------------------------------------------ IMPORT FILES -------------------------------------------------------------------*/
@import url("font-awesome.min.css");
@import url("bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");

/* ========================== RESET ========================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li { list-style: none;}

/* ========================== SKIPLINKS ========================== */
/* Assessibility */
.aria,
summary,
.skiplink {
    color: #ffffff;
    position: absolute;
    left: -9999px;
}

html {
    scroll-behavior: smooth;
}

#toTop { 
	background: #3f3f3f; 
	color: #fff !important; }

#toTop { 
	background: #3f3f3f; 
	color: #fff !important; }

#toTop:hover { 
	background: #6e8c89; }

#toTop a:hover { 
	color: #fff; }

/* ========================== WEBSITE ========================== */
/* -------------- Backgrounds -------------- */
body {
    font-size: 16px !important;
    background: #f7eee7 !important;
	letter-spacing: 1.2px;
	font-family: "Raleway";
}

h1, h2, h3, .w3-sidebar a {
	font: 700 2.25rem "Source Sans Pro";
}

h2 { 
	font-size: 1.6em !important;
	margin-bottom: 20px !important;
	text-align: center;
	}

h3 {
    margin-bottom: 5px !important;
    font-size: 1.2em;
}

.spacing {
	text-align: justify !important;
}

.spacing {
    padding: 60px 0px 60px 0px;
}

.spacing-sm {
    padding: 50px 0px 0px 0px;
}

.background-banner {
    background: linear-gradient(to right, purple, #ffffff, #ffffff);
}

.background-white {
    background: #ffffff;
}

.green-bg {
    background: #00584f;
    background: #778e84;
	overflow: hidden;
}

.background-grey {
    background: #eee;
}

.background-beige {
    background: #eee !important;
    color: #3f3f3f !important;
}

/* -------------- Navigation -------------- */
#logo { 
	width: 45px !important;
	margin-top: 5px; 
	margin-bottom: 10px; 
	margin-right: 10px; }

#primarynav {
	background: #1d1d1d !important;
	background: #778e84 !important;
}

#primarynav h1 {
	font-size: 1em;
	margin-bottom: -5px;
	width: 250px;
	font-family: 'Raleway';
	color: #f2f2f2;
}

#primarynav i {
	font-size: 30px; 
	border: none;
	color: white !important;
}	

#primarynav span, #primarynav button {
	border: none;
	padding: 0px;
}	

#primarynav h1 { 
	font-size: 12px;
	font-family: 'Architects Daughter'; }

#primarynav h1 .subtitle { 
	font-size: 12px;
	font-family: 'Raleway'; }

#primarynav button { 
	padding: 0px !important; }

#primarynav .close { 
	opacity: 1;
	display: none; }

/* -------------- Banner -------------- */
#banner .w3-display-middle {
	width: 300px;
    margin-left: 50px;
    color: #fff !important;
}

#banner .slogan { 
	text-align: center !important;
	margin: auto !important;
	padding: 20px 10px 50px 10px;
}

#banner img {
    width: 100%;
    margin: auto;
}

#banner h2 {
    font-size: 2em !important;
	text-align: center;
	margin-bottom: 5px !important;
	font-family: 'Architects Daughter'; 
	font-weight: bolder;
}

#banner p {
    font-size: 1.3em;
    margin-bottom: -10px !important;
}

#banner i {
    color: #ffffff;
    margin-right: 10px;
    font-size: 16px;
    padding: 0px;
}

#banner .w3-badge:hover,
#banner a:hover {
    box-shadow: 0px 0px 2px 0px #a88e7c;
}

#banner a {
    width: 100px;
    color: #ffffff;
    margin: auto;
    background: #3f3f3f;
    background: #3f3f3f;
    border-radius: 3px;
    padding: 14px 30px;
    font-size: 0.8em;
}

#banner a:hover {
    box-shadow: 0px 0px 4px 0px black;
}

/* -------------- Index page -------------- */
#home { padding-top: 60px; }

.introduction a {
    width: 100px;
    color: #fff;
    margin: auto;
    margin: 30px 10px !important;
    background: #e6dfda;
    background: #00584f;
    background: #6e8c89;
    border-radius: 1px;
    padding: 10px 30px 10px 30px;
    font-family: "Architects Daughter" !important;
    font-family: "Merienda One" !important;
	font-size: 0.8em;
}

#introduction a:hover {
    box-shadow: 0px 0px 4px 0px #00584f;
}

.introduction img {
    width: 80px;
	margin: 40px 0px 20px 0px;
}

#testimonials {
	text-align: center;
	padding: 50px 10px;
}

#testimonials img {
	width: 70px;
	border-radius: 100%;
	border: 1px solid #adadad;
	margin-bottom: 20px;
}

#testimonials p {
	margin-bottom: 0px;
}

#testimonials span {
    font-size: 2em;
	font-weight: bold;
	font-family: "Merienda One";
	margin-bottom: -20px;
}

#testimonials i {
    color: gold;
	margin-bottom: 20px;
}

#testimonials .grey {
    color: lightgrey;
}

#about p { margin: 0px; }

#parees img {
    width: 150px;
    margin-top: 40px;
	border-radius: 5px;
}

#parees {
    margin: 0px;
}

/* -------------- Hair page -------------- */
#hair  { color: #fff; }

#hair-benefits ul { 
	width: 70%;
	margin: auto; }
	
#hair-benefits li { 
	padding-top: 10px; }
	
#hair i {
    margin-right: 10px;
    font-size: 20px !important;
    color: gold;
}

#hair h3 {
    font-size: 1.2em;
	margin-top: 20px !important;
	text-align: center;
	margin-bottom: 20px; }

#hair ul {
    padding-left: 10px !important;
}

#hair img {
    width: 70%;
    margin: 0 auto;
	margin-top: 30px;
}

/* -------------- Service page -------------- */
#serviceList .w3-card {  
	width: 220px; 
	margin: auto;
	margin-top: 20px; }

#serviceList .w3-card {  
	border: 1px solid #cccccc;
	box-shadow: none; }

#serviceList .w3-card:hover {  
	box-shadow: 0px 0px 4px 0px #adadad; }

.price dt { 
	font-family: "Source Sans Pro";
	font-size: 1.3em;
	padding: 30px 20px 10px 20px;
	color: #3f3f3f;
	overflow: inherit; }

.price img { 
	float: right;
	margin-top: -10px !important;
	margin-right: -20px;
	margin-left: -50px;
	width: 80px; }

.price dd:first-of-type { 
	padding-top: 40px; }

.price dd:last-of-type { 
	padding-bottom: 25px; }

.price dd { 
	padding: 10px 20px; 
	color: #adadad;
	font-size: 0.9em;
	text-align: left !important; }

.price i { 
	font-size: 20px;
	padding-right: 10px; }

.price span { font-size: 0.8em; }

.price .price-total { 
	font-size: 1.8em;
	text-align: center !important; 
	margin: 10px 30px !important; 
	padding: 0px 20px 20px 20px !important; 
	color: #778e84;
	font-weight: bold;
	border-top: 1px solid #eee; 
	border-bottom: 1px solid #eee; }


/* -------------- Contact page -------------- */
#contact h3 {
    font-family: "Tenali Ramakrishna" !important;
    font-family: "Merienda One" !important;
    font-size: 1em;
    font-weight: bold;
}

#contact .w3-badge {
    background: #ffffff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding: 11px 8px;
    margin: 20px 0px 15px 0px;
}

#footer i {
    color: #009688;
    color: #00584f;
    color: #6e8c89;
    font-size: 20px;
    font-weight: bolder;
	float: left;
	margin-right: 10px !important;
}

#contact .w3-badge:hover {
    box-shadow: 0px 0px 2px 0px #6e8c89;
    cursor: pointer;
}

#contact a {
    margin-top: 25px;
}

#opening-table {
    border: none;
	box-shadow: 0px 0px 6px 0px #adadad;
    margin-bottom: 30px;
}

#opening td {
	background: #1d1d1d !important;
	color: #fff;
}

#opening-table th {
    color: #ffffff;
}

caption {
    display: none;
}

/* -------------- Footer -------------- */
#footer {
    background: #1d1d1d;
    padding: 40px 0px 10px 0px;
    color: #ffffff;
	font-size: 0.9em;
	text-align: left;
}

#footer h2 {
    text-align: left;
	font-size: 1.4em;
	color: #fff;
	margin-top: 20px !important;
}

#footer #phone {
    margin-top: 20px;
}

#footer .sociallinks  {
    margin-top: 40px;
}

#footer img {
    width: 20px;
    margin: 0px 10px 0px 10px;
    border-radius: 5px;
    opacity: 0.4;
}

#footer img:hover {
    opacity: 1;
    transform: scale(1.1);
}

#copyright {
    color: #a1a1a1;
	font-size: 0.7em;
    padding: 30px 20px 0px 20px !important;
}

/* ========================== END CSS ========================== */

/* ========================== MEDIA QUERIES: TABLET ========================== */
@media screen and (min-width: 600px) {
    /* -------------- Website -------------- */
    body {
        font-size: 18px !important;
    }

    /* -------------- Banner -------------- */
	#banner .w3-display-middle {
		margin-top: -10px;
		margin-left: 90px;
    } 
	
	#banner h2 {
		font-size: 1.4em;
		text-align: left;
    }
	
	#banner p {
		font-size: 1.2em;
    }	
	
	#banner a {
		font-size: 0.6em !important;
    }

	#primarynav a {
		font-size: 1em;
	}
	
	#primarynav h1 {
		font-size: 1em;
	}

	#primarynav span {
		font-size: 1em;
	}

	
	/* -------------- Index page -------------- */
	.testimonial-bg {
		margin-top: 40px; 
	}

    /* -------------- Hair page -------------- */
	#hair-benefits { 
		max-width: 100%;
		margin: auto; }
	
	#hair-benefits h3 { 
		text-align: left; }

	#hair-benefits ul { 
		width: 100%;
		margin: auto;
		padding-left: 30px; }
	
	#hair-benefits li { 
		text-align: left; }
	
    #hair img {
        width: 90%;
    }

    /* -------------- Service page -------------- */
	#serviceList .w3-card {  
		width: 230px; 
		margin: auto;
		margin-top: 20px; }
	
    #full-services #bridal,
    #full-services #weave {
        margin-top: 25px !important;
        margin-bottom: 30px !important;
    }

    /* -------------- Contact -------------- */
	#footer h2 {
		margin-top: 0px !important;
	}
	
    #opening-table {
        width: 600px !important;
        margin: auto !important;
        margin-top: 20px !important;
        margin-bottom: 40px;
    }
    #opening h2 {
        margin-top: 0px !important;
    }

    #find {
        margin-top: 30px;
    }
}

/* ========================== MEDIA QUERIES: DESKTOP  ========================== */
@media screen and (min-width: 992px) {
    /* -------------- Body -------------- */
    body {
        font-size: 22px !important;
    }

	#primarynav {
		background: #1d1d1d !important;
	}
	
	#primarynav h1 {
		font-size: 0.8em;
	}

	#primarynav a {
		font-size: 0.9em;
	}

    .main-content {
        width: 70%;
        max-width: 65em;
        margin: auto;
    }
	
	.main-content2 {
        width: 80%;
        max-width: 65em;
        margin: auto;
    }
	
    #serviceList {
        width: 800px;
        max-width: 70em;
        margin: auto;
    }
	
	h2 { 
		font-size: 2em !important;
		margin-bottom: 20px !important;
		text-align: center;
	}

    /* -------------- Banner -------------- */
	#home { padding-top: 100px; }
	
    #banner .w3-display-middle {
        margin-top: -30px;
        margin-left: 240px;
		width: 430px;
    }

    #banner h2 {
		margin: 60px 0px 0px -20px !important;
        font-size: 2em !important;
		text-align: left;
    }
	
    #banner p {
        font-size: 1em;
    }

    /* -------------- Index page -------------- */
	#services .w3-card {  
		width: 180px; 
		margin: auto;
		margin-top: 30px; }
	
	.testimonial-bg {
		margin-top: 40px; 
	}
	
    /* -------------- Hair page -------------- */
	#hair-benefits { 
		max-width: 800px;
		margin: auto; }
	
    #hair img {
        width: 90%;
    }
	
	#hair ul {
		padding-left: 30px !important;
	}

    /* -------------- Service page -------------- */
	#serviceList .w3-card {
		width: 220px;
		margin-top: 60px; 
    }

	.price dt { 
		font-size: 1.2em; }
	
	.price dd { 
		font-size: 0.8em; }
	
	.price .price-total { 
		font-size: 1.2em; }
	
    /* -------------- Contact page -------------- */
	#opening h2,
    #find,
    #find h2 {
        margin-top: 0px !important;
        margin-bottom: 20px !important;
    }
}
/* ========================== END MEDIA QUERIES: DESKTOP  ========================== */
